  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://loremflickr.com/320/240/food,<%= @restaurant.category%>?lock=<%= @restaurant.id %>)">
    <h1><%= @restaurant.name %></h1>
  </div>
<div class="container mt-5">
  <div class="row">
    <div class="col-6">
      <h2>Description</h2>
      <div class="card p-3 mt-3">
        <p><i class="fa-solid fa-house"></i> <%= @restaurant.address %></p>
        <p><%= @restaurant.phone_number%></p>
        <p><%= @restaurant.category %></p>
      </div>
    </div>
    <div class="col-6">
      <h2>Leave a review</h2>
      <div class="card p-3 mt-3">
        <%= simple_form_for [@restaurant, @review] do |f| %>
          <%= f.input :content %>
          <%= f.input :rating, collection: (1..5).to_a, include_blank: false%>
          <%= f.submit 'Submit', class: 'btn btn-info mt-2'%>
        <% end %>
      </div>
    </div>
  </div>
    <h2>Reviews</h2>
    <% @restaurant.reviews.each do |review| %>
      <div class="card p-3 mt-3">
        <p>Content:<%= review.content %></p>
        <p>Ratings:<%= review.rating %></p>
      </div>
    <% end %>
</div>
